# Python
*.py[cod]
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Data Files
data/
*.csv
*.tsv
*.sqlite
*.db

# Log files
*.log

# Virtual environment
env/
venv/
.venv/
ENV/
.env/

# IDE-specific files

.idea/
*.swp

# Output files
output/
