# Python
*.py[cod]
__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Data Files
data/
*.csv
*.tsv
*.sqlite
*.db

# Log files
*.log

# Virtual environment
env/
venv/
ENV/
.env/
.venv/

# IDE-specific files
.vscode/
.idea/
*.swp

# Output files
output/
notebooks/*.ipynb